:root{
--form-clr:#351f39;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
     box-sizing: border-box;
     scroll-behavior:smooth;
}

body{
    background-color: #e7e6e1;
    
}

header{
  text-align: center;
  background-color: #f2a154;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}

#aside{
  position: fixed;
  top: 4.6rem;
  width: 20rem;
  height: 100vh;
  text-align: center;
  color: #f7f6e7;
  background-color: #314e52;
}

#add-new-book{
  font-size: 1.2rem;
  cursor:pointer;
  padding: 0.6rem;
  border-radius: 7px;
  margin-top: 2.5rem;
  outline: none;
  border: none;
  background-color: chocolate;
}

#aside h1{
  margin-top: 5rem;
  border-top: 1px dotted #f2a154;
  border-bottom: 1px dotted #f2a154;
  width: 70%;
  margin-left: 2.7rem;
  color: chocolate;
}

#aside #book-log{
  /* display: flex;
  flex-direction: column; */
  /* margin-top: 10rem; */
}

#book-log li{
  margin-top: 1rem;
  font-size: 1.5rem;
}

#user-form{
  width: 25rem;
  display: flex;
  flex-flow: column;
  background-color: var(--form-clr);
  border-radius: 5px;
  padding: 1.2rem 1.7rem;
  box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.75);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  /* z-index: 1; */
}

#user-form input{
  border: none;
  outline: none;
  border-bottom: 0.5px solid #f4f5db;
  background-color: var(--form-clr);
  color: #eff7e1;
  font-size: 1.6rem;
  margin: 0.9rem 0 1.7rem 0;
}

#user-form textarea{
  background-color: var(--form-clr);
}

#user-form label{
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: #e97878;
}

#user-form #submit{
  width: 5.5rem;
  margin: 0 auto;
  padding: 0.3rem;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #d35d6e;
  color: #222831;
  font-weight: bold;
}

.hide{
  /* visibility: hidden; */
  display: none !important;
  /* transition: all 1s ease-out; */
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill{
  background-color: chocolate;
}

#container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 46%;
  margin: 5rem auto 0;
  background-color: #383e56;
  border-radius: 5px;
  z-index: 0;
}

#container #display{
  background-color: #c5d7bd;
  width: 15rem;
  text-align: center;
  margin: 1.7rem;
  border-radius: 8px;
  
}

#display-title{
  background-color: #c5d7bd;
  padding: 0.6rem;
  border-radius: 8px;
}

#display-img{
  width: 12rem;
  height: 17rem;
  margin: 0 auto;
  border-radius: 5px;
}


/* #add-new-book ion-icon{
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 6%;
  top: 3%;
  transition: all 0.3s ease-out;
}

#add-new-book ion-icon:hover{
  width: 4rem;
  height: 4rem;
} */