:root{
--form-clr:#351f39;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
     box-sizing: border-box;
     scroll-behavior:smooth;
     
}

body{
    background-color: #fff9b0;
    
}
.swal-bg{
  background-color: brown;
  width: 12rem;
}

.swal-text {
  color: #eff7e1;
}

header{
  text-align: center;
  background-color: #aa2b1d;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  color: #f4f5db;
}

#aside{
  position: fixed;
  top: 4.7rem;
  width: 20rem;
  height: 100vh;
  text-align: center;
  /* color: #f7f6e7; */
  background-color: #ffd384;
}

#add-new-book{
  font-size: 1.2rem;
  cursor:pointer;
  padding: 0.6rem;
  border-radius: 7px;
  margin-top: 2.5rem;
  outline: none;
  border: none;
  background-color: #cc561e;
  color: #f4f5db;
  font-weight: bold;
}

#aside h1{
  margin-top: 5rem;
  border-top: 1px dotted #cc561e;
  border-bottom: 1px dotted #cc561e;
  width: 70%;
  margin-left: 2.7rem;
  color: #cc561e;
}



#book-log li{
  margin-top: 1rem;
  font-size: 1.5rem;
}

#user-form{
  width: 25rem;
  display: flex;
  flex-flow: column;
  background-color: var(--form-clr);
  border-radius: 5px;
  padding: 1.2rem 1.7rem;
  box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.75);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

#user-form input{
  border: none;
  outline: none;
  border-bottom: 0.5px solid #f4f5db;
  background-color: var(--form-clr);
  color: #eff7e1;
  font-size: 1.6rem;
  margin: 0.9rem 0 1.7rem 0;
}

#user-form textarea{
  background-color: var(--form-clr);
}

#user-form label{
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: #e97878;
}

#user-form #submit{
  width: 5.5rem;
  margin: 0 auto;
  padding: 0.3rem;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #d35d6e;
  color: #222831;
  font-weight: bold;
}

#user-form h3{
  color: #eff7e1;
}

.hide{
  display: none !important;
}


ion-icon[name="close-circle"]{
  font-size: 2rem;
  color: #e7e6e1;
  position: absolute;
  right: -6px;
  top: -6px;
  transition: all 0.5s ease;
}

ion-icon[name="close-circle"]:hover{
  color: rgb(158, 11, 11);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill{
  background-color: chocolate;
}

#container{
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  margin-left: 20rem;
  margin-top: 4.7rem;
  background-color: #939b62;
  /* z-index: 0; */
  position: relative;
}

#container #display{
  background-color: rgba(255, 249, 176, 0.2);
  width: 25rem;
  margin: 1.7rem;
  border-radius: 8px;
  position: relative;
}

#display-side{
  position: absolute;
  left: 50%;
  top: 10%;
  font-size: 1.3rem;
}

#display-title{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#display-img{
  height: 190px;
  width: 128px;
  border-radius: 5px;
  margin: 1rem 2rem;
}

