@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
$primary-clr: #000;
$secondary-clr: #d28231;
$white: #f3f4ed;
@import "_include-media";
@import "_user-form.scss";
@import "_aside.scss";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #121415;
  font-family: "Montserrat", sans-serif;
}

#logo2 {
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: $primary-clr;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
  width: 100%;
  border-bottom: 1px solid $primary-clr;
  display: none;
  @include media(">phone", "<=tablet") {
    display: flex;
    padding-top: 0.5rem;
  }
  h2 {
    font-family: "Space Mono", monospace;
    letter-spacing: 0.3rem;
    font-weight: bold;
    font-size: 1.8rem;
    margin-left: 0.5rem;
    color: $white;
  }
  img {
    filter: invert(100%);
  }
}
// Main Container
#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  position: absolute;
  left: 20rem;
  right: 0;
  padding: 2rem 9rem;
  z-index: 0;
  @include media(">phone", "<=tablet") {
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }
  #display {
    background-color: rgba(235, 216, 183, 0.3);
    backdrop-filter: blur(10px);
    color: $white;
    border-radius: 3px;
    display: flex;
    padding: 1.5rem 1.5rem;
    @include media(">phone", "<=tablet") {
      margin: 0 1.5rem;
    }

    #display-side {
      font-size: 1.1rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 1.5rem;
      @include media(">phone", "<=tablet") {
        font-size: 0.8rem;
      }
      #display-title {
        font-weight: bold;
        font-size: 1.5rem;
        @include media(">phone", "<=tablet") {
          font-size: 1.2rem;
        }
      }
    }
    #display-img {
      background-image: url(../assets/book.gif);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 2rem;
      height: 11.8rem;
      width: 8rem;
      border-radius: 5px;
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

// input {
//   &::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
//   }
//   &::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
//   }
//   &:-webkit-autofill {
//     background-color: chocolate;
//   }
// }
