@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
#user-form {
  -webkit-animation: flip 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: flip 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #000;
  border-radius: 5px;
  padding: 1.2rem 1.7rem;
  -webkit-box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 40%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

@media (min-width: 321px) and (max-width: 768px) {
  #user-form {
    left: 5%;
    width: 20rem;
  }
}

#user-form input {
  border: none;
  outline: none;
  border-bottom: 0.5px solid #f4f5db;
  background-color: transparent;
  color: #f3f4ed;
  font-size: 1.6rem;
  margin: 0.9rem 0 1.7rem 0;
}

#user-form label {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  color: #d28231;
  font-weight: bold;
}

#user-form #radio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#user-form button {
  width: 5.5rem;
  margin: 0 auto;
  padding: 0.3rem;
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: #d28231;
  color: #000;
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
  font-weight: bold;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

#user-form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#user-form ion-icon {
  font-size: 2rem;
  color: #f3f4ed;
  position: absolute;
  right: 3px;
  top: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#user-form.hide {
  display: none;
}

.flip {
  -webkit-animation: flip 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: flip 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

/* Sweet-alert */
.swal-bg {
  background-color: brown;
  width: 12rem;
}

.swal-text {
  color: #eff7e1;
}

#menu {
  z-index: 5;
  position: fixed;
  top: 1rem;
  left: 5px;
  cursor: pointer;
  display: none;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 3rem;
  height: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 321px) and (max-width: 768px) {
  #menu {
    display: block;
  }
}

#aside {
  position: fixed;
  top: 0;
  width: 20rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  color: #f3f4ed;
  height: 100%;
  z-index: 1;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

@media (min-width: 321px) and (max-width: 768px) {
  #aside {
    overflow: hidden;
    width: 0;
    margin-top: 3.7rem;
  }
}

#aside #flex-wrap {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 321px) and (max-width: 768px) {
  #aside #flex-wrap {
    height: 60%;
    margin-top: 4.5rem;
  }
}

#aside #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 321px) and (max-width: 768px) {
  #aside #logo {
    display: none;
  }
}

#aside #logo h2 {
  vertical-align: middle;
  font-family: "Space Mono", monospace;
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

#aside #logo img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#aside #add-new-book {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.6rem;
  width: 8rem;
  outline: none;
  border: 1px solid transparent;
  background-color: #000;
  color: #d28231;
  border: 1px solid #d28231;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#aside #add-new-book:hover {
  background-color: #d28231;
  color: #000;
}

#aside #book-log h3 {
  border-top: 1px dotted #d28231;
  border-bottom: 1px dotted #d28231;
  font-size: 1.4rem;
  color: #d28231;
  padding: 0.5rem 0;
}

#aside #book-log li {
  margin-top: 1rem;
  font-size: 1.3rem;
}

@media (min-width: 321px) and (max-width: 768px) {
  #aside #book-log {
    margin-bottom: 4rem;
  }
}

#aside #undraw {
  width: 20rem;
}

#aside #undraw img {
  width: 18rem;
  position: absolute;
  bottom: 5rem;
  left: 1rem;
}

@media (min-width: 321px) and (max-width: 768px) {
  #aside #undraw img {
    width: 15rem;
    left: 4rem;
  }
}

#aside.toggle-aside {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #121415;
  font-family: "Montserrat", sans-serif;
}

#logo2 {
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5rem;
  width: 100%;
  border-bottom: 1px solid #000;
  display: none;
}

@media (min-width: 321px) and (max-width: 768px) {
  #logo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0.5rem;
  }
}

#logo2 h2 {
  font-family: "Space Mono", monospace;
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 0.5rem;
  color: #f3f4ed;
}

#logo2 img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  position: absolute;
  left: 20rem;
  right: 0;
  padding: 2rem 9rem;
  z-index: 0;
}

@media (min-width: 321px) and (max-width: 768px) {
  #container {
    left: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5rem;
  }
}

#container #display {
  background-color: rgba(235, 216, 183, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #f3f4ed;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 1.5rem;
}

@media (min-width: 321px) and (max-width: 768px) {
  #container #display {
    margin: 0 1.5rem;
  }
}

#container #display #display-side {
  font-size: 1.1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 1.5rem;
}

@media (min-width: 321px) and (max-width: 768px) {
  #container #display #display-side {
    font-size: 0.8rem;
  }
}

#container #display #display-side #display-title {
  font-weight: bold;
  font-size: 1.5rem;
}

@media (min-width: 321px) and (max-width: 768px) {
  #container #display #display-side #display-title {
    font-size: 1.2rem;
  }
}

#container #display #display-img {
  background-image: url(../assets/book.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem;
  height: 11.8rem;
  width: 8rem;
  border-radius: 5px;
}

#container .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */